.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/Moremath.iml
.idea/vcs.xml
.idea/dictionaries/codemonk227.xml
more_math/__pycache__/algebra.cpython-37.pyc 
more_math/__pycache__/__init__.cpython-37.pyc
*.pyc
